{% extends "base.html.twig" %}

{% block body %}

<h1>Books</h1>
<ul>
 <table>
   <th>title</th>
   <th>link</th>
   {% for post in posts %}
   <tr>
     <td>{{ post.title }}</td>
     <td><a href="{{path('coderslab_book_index', {'id':post.id})}}">show more info</a></td>
   </tr>
   {% endfor %}
 </table>
</ul>
{% endblock %}
